from libcpp cimport bool
from libcpp.string cimport string


cdef extern from "{{ node["name"] }}Interface.hpp" namespace "dfn_ci":
    cdef cppclass {{ node["name"] }}Interface:
        {{ node["name"] }}Interface()
        void process()
        void setConfigurationFile(string)
        void configure()
        {%- for input_port in node["input_ports"] %}
        void {{ input_port["name"] }}Input({{ input_port["type"] | 
        replace("base::samples::","_basetypes.") }} data)
        {%- endfor %}
        
        {%- for output_port in node["output_ports"] %}
        {{ output_port["type"] | replace("base::samples::","_basetypes.") }} {{ 
        output_port["name"] }}Output()
        {%- endfor %}


{%- for class_name in node["implementations"] %}
cdef extern from "{{ class_name }}.hpp" namespace "dfn_ci":
    cdef cppclass {{ class_name }}({{ node["name"] }}Interface):
        pass
{%- endfor %}
