from libcpp cimport bool
from libcpp.string cimport string
cimport _cdff_types 

cdef extern from "{{ node["name"] }}Interface.hpp" namespace "dfn_ci":
    cdef cppclass {{ node["name"] }}Interface:
        {{ node["name"] }}Interface()
        void process()
        void setConfigurationFile(string)
        void configure()
        {%- for input_port in node["input_ports"] %}
        void {{ input_port["name"] }}Input({{ type_registry.get_info(input_port["type"]).cython_type() }} data)
        {%- endfor %}
        
        {%- for output_port in node["output_ports"] %}
        {{ type_registry.get_info(output_port["type"]).cython_type() }} {{ output_port["name"] }}Output()
        {%- endfor %}


{% for class_name in node["implementations"] -%}
cdef extern from "{{ class_name }}.hpp" namespace "dfn_ci":
    cdef cppclass {{ class_name }}({{ node["name"] }}Interface):
        pass
{%- endfor %}
