from libcpp cimport bool
from libcpp.string cimport string
{% if import_cdfftypes %}
cimport _cdff_types
{% endif %}


cdef extern from "{{ desc["name"] }}Interface.hpp" namespace "dfn_ci":
    cdef cppclass {{ desc["name"] }}Interface:
        {{ desc["name"] }}Interface()
        void process()
        void setConfigurationFile(string)
        void configure()

        {% for input_port in desc["input_ports"] %}
        void {{ input_port["name"] }}Input({{ type_registry.get_info(input_port["type"]).cython_type() }} data)
        {% endfor %}

        {% for output_port in desc["output_ports"] %}
        {{ type_registry.get_info(output_port["type"]).cython_type() }} {{ output_port["name"] }}Output()
        {% endfor %}
{% for class_name in desc["implementations"] %}


cdef extern from "{{ class_name }}.hpp" namespace "dfn_ci":
    cdef cppclass {{ class_name }}({{ desc["name"] }}Interface):
        pass
{% endfor %}
