#ifndef {{ dfpc["name"].upper() }}_INTERFACE_HPP
#define {{ dfpc["name"].upper() }}_INTERFACE_HPP
#include "DFPCCommonInterface.hpp"
{%- for include in includes %}
{%- if include %}
#include <{{ include }}>
{%- endif %}
{%- endfor %}

namespace dfpc_ci {
    class {{ dfpc["name"] }}Interface : public DFPCCommonInterface
    {
        public:
            {{ dfpc["name"] }}Interface();
            virtual ~{{ dfpc["name"] }}Interface();
            {%- for input_port in dfpc["input_ports"] %}
            /**
            * Send value to input port {{ input_port["name"] }}
            * @param {{ input_port["name"] }}, {{ input_port["doc"] }}
            */
            virtual void {{ input_port["name"] }}Input(const {{ input_port["type"] }}& data);
            {%- endfor %}
{{ space }}
            {%- for output_port in dfpc["output_ports"] %}
            /**
            * Receive value from output port {{ output_port["name"] }}
            * @return {{ output_port["name"] }}, {{ output_port["doc"] }}
            */
            virtual {{ output_port["type"] }} {{ output_port["name"] }}Output();
            {%- endfor %}

        protected:
        {%- for input_port in dfpc["input_ports"] %}
            {{ input_port["type"] }} in{{ input_port["name"].lower() }};
        {%- endfor %}
        {%- for output_port in dfpc["output_ports"] %}
            {{ output_port["type"] }} out{{ output_port["name"].lower() }};
        {%- endfor %}
    };
}
#endif
