/**
 * @addtogroup DFPCs
 * @{
 */

#ifndef {{ class_name.upper() }}_HPP
#define {{ class_name.upper() }}_HPP

#include "{{ desc["name"] }}Interface.hpp"

namespace dfpc_ci
{
    /**
     * TODO Class documentation
     */
    class {{ class_name }} : public {{ desc["name"] }}Interface
    {
        public:

            {{ class_name }}();
            virtual ~{{ class_name }}();

            virtual void setup();
            virtual void run();

            {% for operation in desc["operations"] %}
            /**
             * Perform operation "{{ operation["name"] }}"
            {% for arg in operation["inputs"] %}
             * @param {{ arg["name"] }}
            {% endfor %}
             * @return {{ operation["output_type"] }}
             */
            virtual const {{ operation["output_type"] }}& {{ operation["name"] }}(
                {% for arg in operation["inputs"] %}{{ arg["type"] }} {{ arg["name"] }}{{ ", " if not loop.last }}{% endfor %});
            {% endfor %}
    };
}

#endif // {{ class_name.upper() }}_HPP

/** @} */
