/**
 * @addtogroup DFPCs
 * @{
 */

#ifndef {{ desc["name"]|upper }}_INTERFACE_HPP
#define {{ desc["name"]|upper }}_INTERFACE_HPP

#include "DFPCCommonInterface.hpp"
{%- for include in includes %}
{%- if include %}
#include <{{ include }}>
{%- endif %}
{%- endfor %}

namespace dfpc_ci
{
    /**
     * TODO Common interface for all DFPCs that ...
     */
    class {{ desc["name"] }}Interface : public DFPCCommonInterface
    {
        public:
{{ space }}
            {{ desc["name"] }}Interface();
            virtual ~{{ desc["name"] }}Interface();
{{ space }}
            {%- for input_port in desc["input_ports"] %}
            /**
             * Send value to input port "{{ input_port["name"] }}"
             * @param {{ input_port["name"] }}, {{ input_port["doc"] }}
             */
            virtual void {{ input_port["name"] }}Input(const {{ input_port["type"] }}& data);
            {%- endfor %}
{{ space }}
            {%- for output_port in desc["output_ports"] %}
            /**
             * Query value from output port "{{ output_port["name"] }}"
             * @return {{ output_port["name"] }}, {{ output_port["doc"] }}
             */
            virtual const {{ output_port["type"] }}& {{ output_port["name"] }}Output() const;
            {%- endfor %}
{{ space }}
            {%- for operation in desc["operations"] %}
            /**
             * Perform operation "{{ operation["name"] }}"
            {%- for arg in operation["inputs"] %}
             * @param {{ arg["name"] }}
            {%- endfor %}
             * @return {{ operation["output_type"] }}
             */
            virtual const {{ operation["output_type"] }}& {{ operation["name"] }}(
                {%- for arg in operation["inputs"] %}{{ arg["type"] }} {{ arg["name"] }}{{ ", " if not loop.last }}{%- endfor %}) = 0;
            {%- endfor %}

        protected:
{{ space }}
            {%- for input_port in desc["input_ports"] %}
            {{ input_port["type"] }} in{{ input_port["name"] }};
            {%- endfor %}
            {%- for output_port in desc["output_ports"] %}
            {{ output_port["type"] }} out{{ output_port["name"] }};
            {%- endfor %}
{{ space }}
            {%- for operation in desc["operations"] %}
            {{ operation["output_type"] }} {{ operation["name"] }}Result;
            {%- endfor %}
    };
}

#endif //  {{ desc["name"]|upper }}_INTERFACE_HPP

/** @} */
