#include "{{ class_name }}.hpp"

namespace dfpc_ci {

{{ class_name }}::{{ class_name }}()
{
}

{{ class_name }}::~{{ class_name }}()
{
}

void {{ class_name }}::run()
{
    // TODO Fill in process functionality here
}

void {{ class_name }}::setup()
{
    // TODO Fill in process functionality here
}
{{ break }}
{%- for operation in desc["operations"] %}
const {{ operation["output_type"] }}& {{ class_name }}::{{ operation["name"] }}(
    {%- for arg in operation["inputs"] %}{{ arg["type"] }} {{ arg["name"] }}{{ ", " if not loop.last }}{%- endfor %})
{
    return op{{ operation["name"].lower() }};
}
{%- endfor %}

}
