/**
 * @addtogroup DFPCs
 * @{
 */

#include "{{ desc["name"] }}Interface.hpp"

namespace dfpc_ci
{

{{ desc["name"] }}Interface::{{ desc["name"] }}Interface()
{
}

{{ desc["name"] }}Interface::~{{ desc["name"] }}Interface()
{
}
{{ space }}
{%- for input_port in desc["input_ports"] %}
void {{ desc["name"] }}Interface::{{ input_port["name"] }}Input(const {{ input_port["type"] }}& data)
{
    in{{ input_port["name"] }} = data;
}
{{ space }}
{%- endfor %}

{%- for output_port in desc["output_ports"] %}
const {{ output_port["type"] }}& {{ desc["name"] }}Interface::{{ output_port["name"] }}Output() const
{
    return out{{ output_port["name"] }};
}
{{ space }}
{%- endfor %}
}

/** @} */
