/**
 * @addtogroup DFPCs
 * @{
 */

#ifndef {{ desc["name"]|upper }}_{{ desc["name"]|upper }}INTERFACE_HPP
#define {{ desc["name"]|upper }}_{{ desc["name"]|upper }}INTERFACE_HPP

#include "DFPCCommonInterface.hpp"
{% for include in includes %}
{% if include %}
#include <{{ include }}>
{% endif %}
{% endfor %}

namespace CDFF
{
namespace DFPC
{
    {% if "doc" in desc %}
    /**
     * {{ desc["doc"]|prepend(" * ")|indent(width=4) }}
     */
    {% endif %}
    class {{ desc["name"] }}Interface : public DFPCCommonInterface
    {
        public:

            {{ desc["name"] }}Interface();
            virtual ~{{ desc["name"] }}Interface();

            {% for input_port in desc["input_ports"] %}
            /**
             * Send value to input port "{{ input_port["name"] }}"
             * @param {{ input_port["name"] }}
             *     {{ input_port["doc"]|indent(width=4)|prepend(" * ")|indent(width=12) }}
             */
            virtual void {{ input_port["name"] }}Input(const {{ input_port["type"] }}& data);
            {% endfor %}

            {% for output_port in desc["output_ports"] %}
            /**
             * Query value from output port "{{ output_port["name"] }}"
             * @return {{ output_port["name"] }}
             *     {{ output_port["doc"]|indent(width=4)|prepend(" * ")|indent(width=12) }}
             */
            virtual const {{ output_port["type"] }}& {{ output_port["name"] }}Output() const;
            {% endfor %}

            {% for operation in desc["operations"] %}
            /**
             * Perform operation "{{ operation["name"] }}"
            {% for arg in operation["inputs"] %}
             * @param {{ arg["name"] }}
            {% endfor %}
             * @return {{ operation["output_type"] }}
             */
            virtual const {{ operation["output_type"] }}& {{ operation["name"] }}({% for arg in operation["inputs"] %}{{ arg["type"] }} {{ arg["name"] }}{{ ", " if not loop.last }}{% endfor %}) = 0;
            {% endfor %}

        protected:

            {% for input_port in desc["input_ports"] %}
            {{ input_port["type"] }} in{{ input_port["name"]|capfirst }};
            {% endfor %}
            {% for output_port in desc["output_ports"] %}
            {{ output_port["type"] }} out{{ output_port["name"]|capfirst }};
            {% endfor %}

            {% for operation in desc["operations"] %}
            {{ operation["output_type"] }} {{ operation["name"] }}Result;
            {% endfor %}
    };
}
}

#endif // {{ desc["name"]|upper }}_{{ desc["name"]|upper }}INTERFACE_HPP

/** @} */
