#include "{{ class_name }}.hpp"

namespace dfpc_ci {

{{ class_name }}::{{ class_name }}()
{
}

{{ class_name }}::~{{ class_name }}()
{
}
{{ break }}
{%- for operation in desc["operations"] %}
{{ operation["output_type"] }} {{ class_name }}::{{ operation["name"] }}(
    {%- for arg in operation["inputs"] %}{{ arg["type"] }} {{ arg["name"] }}{{ ", " if not loop.last }}{%- endfor %})
{
    {{ operation["output_type"] }} result;

    // TODO Fill in process functionality here

    return result;
}
{%- endfor %}

}
