#ifndef {{ node["name"].upper() }}_HPP
#define {{ node["name"].upper() }}_HPP
#include "{{ node["name"] }}Interface.hpp"



namespace dfn_ci {
    class {{ node["name"] }} : public {{ node["name"] }}Interface
    {
        public:
            {{ node["name"] }}();
            virtual ~{{ node["name"] }}();
            virtual void process();
            virtual void configure();
    };
}
#endif
