#ifndef {{ class_name.upper() }}_HPP
#define {{ class_name.upper() }}_HPP
#include "{{ node["name"] }}Interface.hpp"



namespace dfn_ci {
    class {{ class_name }} : public {{ node["name"] }}Interface
    {
        public:
            {{ class_name }}();
            virtual ~{{ class_name }}();
            virtual void process();
            virtual void configure();
    };
}
#endif
