# distutils: language=c++
cimport _dfn_ci_{{ node["name"].lower() }}
cimport dfn_ci_{{ node["name"].lower() }}
from cython.operator cimport dereference as deref
from libcpp cimport bool
from libcpp.string cimport string


{%- for class_name in node["implementations"] %}
cdef class {{ class_name }}:
    def __cinit__(self):
        self.thisptr = NULL
        self.delete_thisptr = False

    def __dealloc__(self):
        if self.delete_thisptr and self.thisptr != NULL:
            del self.thisptr

    def __init__(self):
        self.thisptr = new _dfn_ci_{{ node["name"].lower() }}.{{ class_name }}()
        self.delete_thisptr = True

    def process(self):
        self.thisptr.process()

    def set_configuration_file(self, str configuration_file_path):
        cdef string path = configuration_file_path.encode()
        self.thisptr.setConfigurationFile(path)

    def configure(self):
        self.thisptr.configure()
{{ break }}
    {%- for input_port in node["input_ports"] %}
    def {{ input_port["name"] }}Input(self, {{ type_registry.get_info(input_port["type"]).python_type() }} data):
        {%- if type_registry.get_info(input_port["type"]).copy_on_assignment() %}
        cdef {{ type_registry.get_info(input_port["type"]).cython_type() }} cpp_data = data
        self.thisptr.{{ input_port["name"] }}Input(cpp_data)
        {%- else %}
        cdef {{ type_registry.get_info(input_port["type"]).cython_type() }} * cpp_data = data.thisptr
        self.thisptr.{{ input_port["name"] }}Input(deref(cpp_data))
        {%- endif %}
{{ break }}
    {%- endfor %}

    {%- for output_port in node["output_ports"] %}
    def {{ output_port["name"] }}Output(self):
        {%- if type_registry.get_info(output_port["type"]).copy_on_assignment() %}
        cdef {{ type_registry.get_info(output_port["type"]).python_type() }} out = self.thisptr.{{ output_port["name"] }}Output()
        {%- else %}
        cdef {{ type_registry.get_info(output_port["type"]).python_type() }} out = {{ type_registry.get_info(output_port["type"]).python_type() }}()
        out.thisptr[0] = self.thisptr.{{ output_port["name"] }}Output()
        {%- endif %}
        return out
{{ break }}
    {%- endfor %}
{%- endfor %}
