#include "{{ class_name }}.hpp"

namespace dfn_ci {

{{ class_name }}::{{ class_name }}()
{
}

{{ class_name }}::~{{ class_name }}()
{
}

void {{ class_name }}::configure() 
{
    // TODO Fill in configure functionality here
}


void {{ class_name }}::process() {
    // TODO Fill in process functionality here
}

}
