from libcpp cimport bool
from cython.operator cimport dereference as deref
cimport _dfn_ci_{{ node["name"].lower() }}


{%- for class_name in node["implementations"] %}
cdef class {{ class_name }}:
    cdef _dfn_ci_{{ node["name"].lower() }}.{{ class_name }}* thisptr
    cdef bool delete_thisptr
{%- endfor %}
