/**
 * @addtogroup DFNs
 * @{
 */

#include "{{ class_name }}.hpp"

namespace dfn_ci
{

{{ class_name }}::{{ class_name }}()
{
}

{{ class_name }}::~{{ class_name }}()
{
}

void {{ class_name }}::configure()
{
    // TODO DFN configuration steps
}

void {{ class_name }}::process()
{
    // TODO DFN processing steps
}

}

/** @} */
