#include "{{ node["name"] }}.hpp"

namespace dfn_ci {

{{ node["name"] }}::{{ node["name"] }}()
{
}

{{ node["name"] }}::~{{ node["name"] }}()
{
}

void {{ node["name"] }}::configure() 
{
    // TODO Fill in configure functionality here
}


void {{ node["name"] }}::process() {
    // TODO Fill in process functionality here
}

}
