    {%- for output_port in desc["output_ports"] %}
    def {{ output_port["name"] }}Output(self):
        {%- if type_registry.get_info(output_port["type"]).copy_on_assignment() %}
        cdef {{ type_registry.get_info(output_port["type"]).python_type() }} out = \
        {%- else %}
        cdef {{ type_registry.get_info(output_port["type"]).python_type() }} out = {{ type_registry.get_info(output_port["type"]).python_type() }}()
        out.thisptr[0] = \
        {%- endif %}
        {%- if desc["use_pointers"] %}
            deref(self.thisptr.{{ output_port["name"] }}Output())
        {%- else %}
            self.thisptr.{{ output_port["name"] }}Output()
        {%- endif %}
        return out
{{ break }}
    {%- endfor %}
