[run]
branch = True
cover_pylib = False
source = cdff_dev
# I don't know why this is requires, but it is required in CI
omit =
    */setup.py
    /usr/*
    /tmp/infuse/install/*
    

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if self.verbose
    def plot
    def _plot
    @abstractmethod


[html]
directory = cover