[run]
branch = True
source = cdff_dev
include = */cdff_dev/*
omit =
    */setup.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if self.verbose
    def plot
    def _plot
    @abstractmethod

ignore_errors = True

[html]
directory = cover