[run]
branch = True
cover_pylib = False
source = cdff_dev
omit =
    */setup.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if self.verbose
    def plot
    def _plot
    @abstractmethod

[html]
directory = cover