# Configuration files
cdffpath
# Build artifacts
*.so
*.pyc
*.egg-info
build/
cdff_types.cpp
cdff_envire.cpp
cdff_dev/extensions/gps/cdff_gps.cpp
# Temporary files
*~
# CDFF
CDFF/
# Editor files
.idea/
